<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs02mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,433},{196,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,231}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>bs02mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{196,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,229}}</string>
                <key>sourceSize</key>
                <string>{196,229}</string>
            </dict>
            <key>bs02mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,631},{196,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,227}}</string>
                <key>sourceSize</key>
                <string>{196,227}</string>
            </dict>
            <key>bs02mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,846},{196,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,226}}</string>
                <key>sourceSize</key>
                <string>{196,226}</string>
            </dict>
            <key>bs02mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,636},{196,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,224}}</string>
                <key>sourceSize</key>
                <string>{196,224}</string>
            </dict>
            <key>bs02mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,829},{204,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,223}}</string>
                <key>sourceSize</key>
                <string>{204,223}</string>
            </dict>
            <key>bs02mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>bs02mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1044},{216,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,225}}</string>
                <key>sourceSize</key>
                <string>{216,225}</string>
            </dict>
            <key>bs02mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,668},{222,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,226}}</string>
                <key>sourceSize</key>
                <string>{222,226}</string>
            </dict>
            <key>bs02mvc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{227,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,228}}</string>
                <key>sourceSize</key>
                <string>{227,228}</string>
            </dict>
            <key>bs02mvc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,229}}</string>
                <key>sourceSize</key>
                <string>{235,229}</string>
            </dict>
            <key>bs02mvc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,844},{227,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,228}}</string>
                <key>sourceSize</key>
                <string>{227,228}</string>
            </dict>
            <key>bs02mvc0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,229},{222,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,227}}</string>
                <key>sourceSize</key>
                <string>{222,227}</string>
            </dict>
            <key>bs02mvc0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,883},{216,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,225}}</string>
                <key>sourceSize</key>
                <string>{216,225}</string>
            </dict>
            <key>bs02mvc0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1073},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>bs02mvc0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,829},{204,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,223}}</string>
                <key>sourceSize</key>
                <string>{204,223}</string>
            </dict>
            <key>bs02mvc0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,453},{196,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,224}}</string>
                <key>sourceSize</key>
                <string>{196,224}</string>
            </dict>
            <key>bs02mvc0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,685},{196,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,226}}</string>
                <key>sourceSize</key>
                <string>{196,226}</string>
            </dict>
            <key>bs02mvc0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,438},{196,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,227}}</string>
                <key>sourceSize</key>
                <string>{196,227}</string>
            </dict>
            <key>bs02mvc0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,646},{196,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,229}}</string>
                <key>sourceSize</key>
                <string>{196,229}</string>
            </dict>
            <key>bs02mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,641},{203,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,230}}</string>
                <key>sourceSize</key>
                <string>{203,230}</string>
            </dict>
            <key>bs02mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,227},{204,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,231}}</string>
                <key>sourceSize</key>
                <string>{204,231}</string>
            </dict>
            <key>bs02mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,2},{207,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,232}}</string>
                <key>sourceSize</key>
                <string>{207,232}</string>
            </dict>
            <key>bs02mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,435},{209,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,232}}</string>
                <key>sourceSize</key>
                <string>{209,232}</string>
            </dict>
            <key>bs02mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{211,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,233}}</string>
                <key>sourceSize</key>
                <string>{211,233}</string>
            </dict>
            <key>bs02mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{213,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,234}}</string>
                <key>sourceSize</key>
                <string>{213,234}</string>
            </dict>
            <key>bs02mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{216,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,233}}</string>
                <key>sourceSize</key>
                <string>{216,233}</string>
            </dict>
            <key>bs02mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,233},{219,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,232}}</string>
                <key>sourceSize</key>
                <string>{219,232}</string>
            </dict>
            <key>bs02mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{223,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,232}}</string>
                <key>sourceSize</key>
                <string>{223,232}</string>
            </dict>
            <key>bs02mvd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,211},{225,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,231}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>bs02mvd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,454},{229,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,230}}</string>
                <key>sourceSize</key>
                <string>{229,230}</string>
            </dict>
            <key>bs02mvd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{233,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,229}}</string>
                <key>sourceSize</key>
                <string>{233,229}</string>
            </dict>
            <key>bs02mvd0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,437},{229,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,230}}</string>
                <key>sourceSize</key>
                <string>{229,230}</string>
            </dict>
            <key>bs02mvd0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,2},{225,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,231}}</string>
                <key>sourceSize</key>
                <string>{225,231}</string>
            </dict>
            <key>bs02mvd0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,215},{220,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,232}}</string>
                <key>sourceSize</key>
                <string>{220,232}</string>
            </dict>
            <key>bs02mvd0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,217},{216,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,233}}</string>
                <key>sourceSize</key>
                <string>{216,233}</string>
            </dict>
            <key>bs02mvd0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{213,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,234}}</string>
                <key>sourceSize</key>
                <string>{213,234}</string>
            </dict>
            <key>bs02mvd0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,217},{211,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,233}}</string>
                <key>sourceSize</key>
                <string>{211,233}</string>
            </dict>
            <key>bs02mvd0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,430},{209,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,232}}</string>
                <key>sourceSize</key>
                <string>{209,232}</string>
            </dict>
            <key>bs02mvd0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{207,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,232}}</string>
                <key>sourceSize</key>
                <string>{207,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bs022-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e40819a9ca0d96cd7b92e4953252cff$</string>
            <key>textureFileName</key>
            <string>bs022-hd.png</string>
        </dict>
    </dict>
</plist>
