<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fl01dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,269},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>fl01dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,185},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>fl01dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,253},{106,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,67}}</string>
                <key>sourceSize</key>
                <string>{106,67}</string>
            </dict>
            <key>fl01dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,253},{102,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,50}}</string>
                <key>sourceSize</key>
                <string>{102,50}</string>
            </dict>
            <key>fl01dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,322},{73,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{73,65}</string>
            </dict>
            <key>fl01mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,406},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>fl01mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,122},{87,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,61}}</string>
                <key>sourceSize</key>
                <string>{87,61}</string>
            </dict>
            <key>fl01mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,353},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>fl01mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{95,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,61}}</string>
                <key>sourceSize</key>
                <string>{95,61}</string>
            </dict>
            <key>fl01mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{54,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{54,92}</string>
            </dict>
            <key>fl01mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{95,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,61}}</string>
                <key>sourceSize</key>
                <string>{95,61}</string>
            </dict>
            <key>fl01mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,353},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>fl01mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,58},{87,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,62}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>fl01mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,406},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>fl01mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>fl01mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{131,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,71}}</string>
                <key>sourceSize</key>
                <string>{131,71}</string>
            </dict>
            <key>fl01mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>fl01mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,66},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>fl01mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,322},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>fl01mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>fl01mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>fl01mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,68},{131,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,71}}</string>
                <key>sourceSize</key>
                <string>{131,71}</string>
            </dict>
            <key>fl01mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>fl01mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>fl01mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,123},{130,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,69}}</string>
                <key>sourceSize</key>
                <string>{130,69}</string>
            </dict>
            <key>fl01mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>fl01mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>fl01mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,406},{77,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>fl01mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,194},{125,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,57}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>fl01mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>fl01mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,141},{129,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,71}}</string>
                <key>sourceSize</key>
                <string>{129,71}</string>
            </dict>
            <key>fl01mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fl01-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5f33835df0c92e34abd713a8b90575$</string>
            <key>textureFileName</key>
            <string>fl01-hd.png</string>
        </dict>
    </dict>
</plist>
