<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fl02dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,253},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>fl02dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,144},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>fl02dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{107,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,66}}</string>
                <key>sourceSize</key>
                <string>{107,66}</string>
            </dict>
            <key>fl02dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,298},{101,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>fl02dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,386},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>fl02mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,312},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>fl02mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,378},{97,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,61}}</string>
                <key>sourceSize</key>
                <string>{97,61}</string>
            </dict>
            <key>fl02mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>fl02mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,352},{96,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,63}}</string>
                <key>sourceSize</key>
                <string>{96,63}</string>
            </dict>
            <key>fl02mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{61,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,88}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
            <key>fl02mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,352},{95,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,63}}</string>
                <key>sourceSize</key>
                <string>{95,63}</string>
            </dict>
            <key>fl02mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{100,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>fl02mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{97,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,61}}</string>
                <key>sourceSize</key>
                <string>{97,61}</string>
            </dict>
            <key>fl02mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,312},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>fl02mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>fl02mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{131,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,71}}</string>
                <key>sourceSize</key>
                <string>{131,71}</string>
            </dict>
            <key>fl02mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>fl02mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,66},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>fl02mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,312},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>fl02mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>fl02mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>fl02mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,68},{131,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,71}}</string>
                <key>sourceSize</key>
                <string>{131,71}</string>
            </dict>
            <key>fl02mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>fl02mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,228},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>fl02mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,123},{130,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,69}}</string>
                <key>sourceSize</key>
                <string>{130,69}</string>
            </dict>
            <key>fl02mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>fl02mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>fl02mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,65},{77,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>fl02mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,194},{125,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,57}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>fl02mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>fl02mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,141},{129,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,71}}</string>
                <key>sourceSize</key>
                <string>{129,71}</string>
            </dict>
            <key>fl02mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,228},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fl02-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:367af23730f22dfd45c174243cd686f3$</string>
            <key>textureFileName</key>
            <string>fl02-hd.png</string>
        </dict>
    </dict>
</plist>
