<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft06at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,47},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>ft06at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>ft06at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,134},{73,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,42}}</string>
                <key>sourceSize</key>
                <string>{73,42}</string>
            </dict>
            <key>ft06at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>ft06at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>ft06at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>ft06at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>ft06at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>ft06dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,134},{57,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,29}}</string>
                <key>sourceSize</key>
                <string>{57,29}</string>
            </dict>
            <key>ft06dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,135},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>ft06dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,92},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>ft06dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,46},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>ft06dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,136},{68,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,41}}</string>
                <key>sourceSize</key>
                <string>{68,41}</string>
            </dict>
            <key>ft06dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{69,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,40}}</string>
                <key>sourceSize</key>
                <string>{69,40}</string>
            </dict>
            <key>ft06mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft06mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,91},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft06mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,46},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>ft06mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,91},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft06mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,127},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft06mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,90},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft06mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft06mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,90},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft06mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,47},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft06mvc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,47},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft06mvc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>ft06mvc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>ft06mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>ft06mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,179},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,178},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,258},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,73},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>ft06mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,242},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,222},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,178},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,209},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,134},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,204},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,188},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,178},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,165},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,134},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,134},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ft06mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,204},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,188},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,178},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,165},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>ft06mvu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,134},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft06-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f5beec44f81026d25fad0c3db995bb2$</string>
            <key>textureFileName</key>
            <string>ft06-hd.png</string>
        </dict>
    </dict>
</plist>
