<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft08at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,89},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>ft08at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,90},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>ft08at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>ft08at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,89},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft08at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,88},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,46},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
            <key>ft08at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,46},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft08dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,132},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>ft08dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>ft08dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>ft08dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,79},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>ft08dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,132},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>ft08dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,132},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>ft08mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,46},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft08mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft08mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>ft08mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,46},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft08mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,89},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ft08mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08mvc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,45},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08mvc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,44},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08mvc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ft08mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,289},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>ft08mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,153},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,425},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,221},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,357},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,431},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,221},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>ft08mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,289},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,363},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,295},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,431},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,363},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,153},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,153},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,227},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,153},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ft08mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,153},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,227},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>ft08mvu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft08-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34c40b54df4202be05dc1288771b29ef$</string>
            <key>textureFileName</key>
            <string>ft08-hd.png</string>
        </dict>
    </dict>
</plist>
