<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft10at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,441},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>ft10at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>ft10at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>ft10at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,142},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>ft10at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>ft10at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,245},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>ft10at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>ft10at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,396},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>ft10dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,187},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>ft10dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>ft10dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,78},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>ft10dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,128},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>ft10dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,458},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>ft10dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,382},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>ft10dd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,336},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>ft10mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>ft10mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,323},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>ft10mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,264},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>ft10mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,398},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>ft10mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>ft10mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,456},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>ft10mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,205},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>ft10mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,276},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>ft10mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,57},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>ft10mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,241},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>ft10mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,63},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>ft10mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,300},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>ft10mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>ft10mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,112},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>ft10mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,63},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>ft10mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,186},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>ft10mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,65},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>ft10mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,337},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>ft10mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,128},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>ft10mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>ft10mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>ft10mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>ft10mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,128},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>ft10mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft10-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4883be6d99edccd39592a8f35c1ef9c6$</string>
            <key>textureFileName</key>
            <string>ft10-hd.png</string>
        </dict>
    </dict>
</plist>
