<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft11at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,319},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>ft11at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>ft11at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>ft11at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,140},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>ft11at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,212},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>ft11at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,263},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>ft11at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,449},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>ft11at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,319},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>ft11dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,126},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>ft11dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>ft11dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{52,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,67}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>ft11dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,275},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>ft11dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,339},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>ft11dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,400},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>ft11dd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,339},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>ft11mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,399},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>ft11mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,392},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>ft11mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,456},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>ft11mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,335},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>ft11mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>ft11mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,64},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>ft11mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,399},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>ft11mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,457},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>ft11mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>ft11mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>ft11mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,203},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>ft11mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>ft11mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>ft11mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,67},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>ft11mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,203},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>ft11mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,64},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>ft11mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,75},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ft11mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>ft11mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,276},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>ft11mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>ft11mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,147},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ft11mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,212},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>ft11mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,276},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>ft11mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft11-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e84b6b3a6d0d61099390e0cdef9fe3d4$</string>
            <key>textureFileName</key>
            <string>ft11-hd.png</string>
        </dict>
    </dict>
</plist>
