<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft12at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,230},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>ft12at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>ft12at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>ft12at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,78},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>ft12at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,361},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>ft12at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>ft12at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>ft12at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,283},{71,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,80}}</string>
                <key>sourceSize</key>
                <string>{71,80}</string>
            </dict>
            <key>ft12dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,230},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>ft12dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,285},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ft12dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>ft12dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>ft12dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,66},{88,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,59}}</string>
                <key>sourceSize</key>
                <string>{88,59}</string>
            </dict>
            <key>ft12dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{88,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,65}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>ft12dd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{88,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,62}}</string>
                <key>sourceSize</key>
                <string>{88,62}</string>
            </dict>
            <key>ft12dd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,69},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>ft12dd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,70},{87,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>ft12mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,130},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>ft12mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,127},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>ft12mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,205},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>ft12mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,307},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>ft12mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,205},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>ft12mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>ft12mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,152},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>ft12mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,129},{76,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>ft12mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,284},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>ft12mvc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>ft12mvc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,208},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>ft12mvc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,207},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>ft12mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,425},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>ft12mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,437},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>ft12mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,571},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ft12mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,578},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>ft12mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,567},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ft12mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,357},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>ft12mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>ft12mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,430},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>ft12mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ft12mvd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,578},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>ft12mvd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,526},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ft12mvd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,458},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>ft12mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,436},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ft12mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,363},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ft12mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,510},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ft12mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,584},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>ft12mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,504},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ft12mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,356},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ft12mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,283},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ft12mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ft12mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,497},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ft12mvu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,584},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>ft12mvu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,493},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ft12mvu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,384},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft12-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc3a7c614079296d4161faf6a8ce1a2$</string>
            <key>textureFileName</key>
            <string>ft12-hd.png</string>
        </dict>
    </dict>
</plist>
