<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft14at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,374},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{58,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,85}}</string>
                <key>sourceSize</key>
                <string>{58,85}</string>
            </dict>
            <key>ft14at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>ft14at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,287},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>ft14at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{87,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,65}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>ft14at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,229},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>ft14at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,579},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>ft14at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,374},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,374},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,228},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>ft14dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>ft14dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,80},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>ft14dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>ft14dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,145},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>ft14dd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,220},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>ft14dd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,213},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>ft14dd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>ft14mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,437},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,508},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>ft14mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,498},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>ft14mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,427},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,372},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,367},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,303},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,443},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>ft14mvc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,438},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>ft14mvc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,366},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>ft14mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,355},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>ft14mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,300},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>ft14mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,569},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>ft14mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,514},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>ft14mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,509},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>ft14mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,295},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>ft14mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>ft14mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,294},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>ft14mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,445},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>ft14mvd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,514},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>ft14mvd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>ft14mvd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,156},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>ft14mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,78},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>ft14mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>ft14mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,154},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>ft14mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,228},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>ft14mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,153},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>ft14mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>ft14mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,69},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>ft14mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>ft14mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,138},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>ft14mvu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,228},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>ft14mvu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,78},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>ft14mvu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft14-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f37e1f2da66ad702854370741d327ff$</string>
            <key>textureFileName</key>
            <string>ft14-hd.png</string>
        </dict>
    </dict>
</plist>
