<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft15at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,327},{99,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,109}}</string>
                <key>sourceSize</key>
                <string>{99,109}</string>
            </dict>
            <key>ft15at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,219},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>ft15at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>ft15at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,308},{107,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,111}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>ft15at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,532},{94,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,111}}</string>
                <key>sourceSize</key>
                <string>{94,111}</string>
            </dict>
            <key>ft15at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,212},{94,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,113}}</string>
                <key>sourceSize</key>
                <string>{94,113}</string>
            </dict>
            <key>ft15at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,53},{115,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,103}}</string>
                <key>sourceSize</key>
                <string>{115,103}</string>
            </dict>
            <key>ft15at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,95}}</string>
                <key>sourceSize</key>
                <string>{123,95}</string>
            </dict>
            <key>ft15at0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>ft15at0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>ft15at0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{116,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,99}}</string>
                <key>sourceSize</key>
                <string>{116,99}</string>
            </dict>
            <key>ft15at0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,320},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>ft15at0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ft15at0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,651},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>ft15at0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,327},{99,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,109}}</string>
                <key>sourceSize</key>
                <string>{99,109}</string>
            </dict>
            <key>ft15dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,515},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,103}}</string>
                <key>sourceSize</key>
                <string>{111,103}</string>
            </dict>
            <key>ft15dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,515},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,103}}</string>
                <key>sourceSize</key>
                <string>{111,103}</string>
            </dict>
            <key>ft15dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{118,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>ft15dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,98},{118,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>ft15dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{117,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,96}}</string>
                <key>sourceSize</key>
                <string>{117,96}</string>
            </dict>
            <key>ft15dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{117,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,96}}</string>
                <key>sourceSize</key>
                <string>{117,96}</string>
            </dict>
            <key>ft15dd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,98},{117,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,88}}</string>
                <key>sourceSize</key>
                <string>{117,88}</string>
            </dict>
            <key>ft15dd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{117,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,49}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>ft15mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,483},{98,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,109}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>ft15mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,427},{96,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,108}}</string>
                <key>sourceSize</key>
                <string>{96,108}</string>
            </dict>
            <key>ft15mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,583},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>ft15mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,718},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>ft15mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,517},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>ft15mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,628},{96,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,108}}</string>
                <key>sourceSize</key>
                <string>{96,108}</string>
            </dict>
            <key>ft15mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,417},{98,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,109}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>ft15mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,552},{97,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,108}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>ft15mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,428},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>ft15mvc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,726},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>ft15mvc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,427},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>ft15mvc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,620},{96,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,108}}</string>
                <key>sourceSize</key>
                <string>{96,108}</string>
            </dict>
            <key>ft15mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>ft15mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>ft15mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,219},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>ft15mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,444},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>ft15mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,111},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>ft15mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>ft15mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,205},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>ft15mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,315},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>ft15mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>ft15mvd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,444},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>ft15mvd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,111},{106,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,113}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>ft15mvd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,298},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>ft15mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,188},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>ft15mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,227},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>ft15mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,424},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>ft15mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,375},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>ft15mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,407},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>ft15mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,158},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>ft15mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,117},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>ft15mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,103},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
            <key>ft15mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,336},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>ft15mvu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,375},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>ft15mvu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,267},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>ft15mvu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{107,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,113}}</string>
                <key>sourceSize</key>
                <string>{107,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft15-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e3fe475ab1a654228da0afb017aa5e$</string>
            <key>textureFileName</key>
            <string>ft15-hd.png</string>
        </dict>
    </dict>
</plist>
