<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ft16at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,598},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>ft16at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>ft16at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>ft16at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,525},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>ft16at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,229},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,93}</string>
            </dict>
            <key>ft16at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{59,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,99}}</string>
                <key>sourceSize</key>
                <string>{59,99}</string>
            </dict>
            <key>ft16at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,63},{87,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,94}}</string>
                <key>sourceSize</key>
                <string>{87,94}</string>
            </dict>
            <key>ft16at0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{98,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,67}</string>
            </dict>
            <key>ft16at0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,67}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>ft16at0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,66}}</string>
                <key>sourceSize</key>
                <string>{99,66}</string>
            </dict>
            <key>ft16at0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,231},{93,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{93,71}</string>
            </dict>
            <key>ft16at0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,462},{86,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>ft16at0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,743},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>ft16at0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,675},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>ft16at0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,598},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>ft16dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,598},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>ft16dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>ft16dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,518},{81,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,67}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>ft16dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,539},{81,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,61}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>ft16dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{82,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>ft16dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,461},{87,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>ft16dd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,466},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>ft16dd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,459},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>ft16dd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,397},{87,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,60}}</string>
                <key>sourceSize</key>
                <string>{87,60}</string>
            </dict>
            <key>ft16mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,587},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>ft16mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,608},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>ft16mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,674},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>ft16mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,761},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>ft16mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,598},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>ft16mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,665},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>ft16mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,520},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>ft16mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,602},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>ft16mvc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>ft16mvc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,756},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>ft16mvc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,685},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>ft16mvc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,679},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>ft16mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ft16mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,160},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>ft16mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,383},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>ft16mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,382},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>ft16mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ft16mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,230},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>ft16mvd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,318},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>ft16mvd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,152},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>ft16mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ft16mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>ft16mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,309},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,388},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>ft16mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,304},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,81},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>ft16mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,70},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ft16mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,71},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>ft16mvu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,303},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,388},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>ft16mvu0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,239},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>ft16mvu0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ft16-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f82f92f12b4869f994540e8fa89631$</string>
            <key>textureFileName</key>
            <string>ft16-hd.png</string>
        </dict>
    </dict>
</plist>
