<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mc02at0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,200},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>mc02at0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>mc02at0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,63},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>mc02at0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,141},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>mc02at0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,313},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>mc02at0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,122},{43,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{43,54}</string>
            </dict>
            <key>mc02at0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,200},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>mc02dd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,342},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>mc02dd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,238},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
            <key>mc02dd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,463},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>mc02dd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>mc02dd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,58},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>mc02dd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>mc02dd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,280},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>mc02magic0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,342},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>mc02magic0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,178},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>mc02magic0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,117},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>mc02magic0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{57,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,76}}</string>
                <key>sourceSize</key>
                <string>{57,76}</string>
            </dict>
            <key>mc02magic0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{57,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,77}}</string>
                <key>sourceSize</key>
                <string>{57,77}</string>
            </dict>
            <key>mc02magic0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>mc02magic0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>mc02magic0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,81},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>mc02magic0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>mc02magic0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>mc02magic0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,457},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>mc02magic0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,257},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>mc02magic0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,342},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>mc02mvc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>mc02mvc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,338},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>mc02mvc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,61},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>mc02mvc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,452},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>mc02mvc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,454},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>mc02mvc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,395},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>mc02mvc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,61},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>mc02mvc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,400},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>mc02mvd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,306},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>mc02mvd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,343},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>mc02mvd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,220},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>mc02mvd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,282},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>mc02mvd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,392},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>mc02mvd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>mc02mvd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,404},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>mc02mvd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,80},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>mc02mvu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>mc02mvu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,159},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>mc02mvu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,282},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>mc02mvu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,221},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>mc02mvu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,159},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>mc02mvu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,429},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>mc02mvu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>mc02mvu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,368},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mc02-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0864602f7952ae1c39e8cb62a79808d1$</string>
            <key>textureFileName</key>
            <string>mc02-hd.png</string>
        </dict>
    </dict>
</plist>
