<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{113,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,49}}</string>
                <key>sourceSize</key>
                <string>{113,49}</string>
            </dict>
            <key>battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>closeBtn-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,383},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>common-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,379}}</string>
                <key>sourceSize</key>
                <string>{531,379}</string>
            </dict>
            <key>map0001s.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{157,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,138}}</string>
                <key>sourceSize</key>
                <string>{157,138}</string>
            </dict>
            <key>map0002s.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,284},{156,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,138}}</string>
                <key>sourceSize</key>
                <string>{156,138}</string>
            </dict>
            <key>map0003s.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,142},{157,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,138}}</string>
                <key>sourceSize</key>
                <string>{157,138}</string>
            </dict>
            <key>map0004s.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,282},{156,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,138}}</string>
                <key>sourceSize</key>
                <string>{156,138}</string>
            </dict>
            <key>map0005s.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,142},{156,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,140}}</string>
                <key>sourceSize</key>
                <string>{156,140}</string>
            </dict>
            <key>map0006s.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,285},{155,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,141}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>map0007s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{155,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,140}}</string>
                <key>sourceSize</key>
                <string>{155,140}</string>
            </dict>
            <key>map0008s.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{157,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,141}}</string>
                <key>sourceSize</key>
                <string>{157,141}</string>
            </dict>
            <key>map0009s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{155,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,137}}</string>
                <key>sourceSize</key>
                <string>{155,137}</string>
            </dict>
            <key>map0010s.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,424},{155,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,140}}</string>
                <key>sourceSize</key>
                <string>{155,140}</string>
            </dict>
            <key>map0011s.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{159,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,138}}</string>
                <key>sourceSize</key>
                <string>{159,138}</string>
            </dict>
            <key>map0012s.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,145},{156,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,138}}</string>
                <key>sourceSize</key>
                <string>{156,138}</string>
            </dict>
            <key>selectDifficulty.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,383},{154,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,22}}</string>
                <key>sourceSize</key>
                <string>{154,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelIntroPanel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b46644d58549dc67885ceef75eb2108$</string>
            <key>textureFileName</key>
            <string>LevelIntroPanel.png</string>
        </dict>
    </dict>
</plist>
