<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LvTip-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,64},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>areaTip-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,540},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>attackTip-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,492},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>bigStar-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>bottom_bg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,60}}</string>
                <key>sourceSize</key>
                <string>{960,60}</string>
            </dict>
            <key>btnMenu-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{222,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,85}}</string>
                <key>sourceSize</key>
                <string>{222,85}</string>
            </dict>
            <key>btnMenudown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1095},{221,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>btnPlayGamedown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{252,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,67}}</string>
                <key>sourceSize</key>
                <string>{252,67}</string>
            </dict>
            <key>btnQuit-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,861},{222,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,85}}</string>
                <key>sourceSize</key>
                <string>{222,85}</string>
            </dict>
            <key>btnQuitdown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1034},{221,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>btnRestart-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{222,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,85}}</string>
                <key>sourceSize</key>
                <string>{222,85}</string>
            </dict>
            <key>btnRestartdown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1004},{221,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>btnResume-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,774},{222,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,85}}</string>
                <key>sourceSize</key>
                <string>{222,85}</string>
            </dict>
            <key>btnResumedown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{221,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>btnSell-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1203},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>btnUpN-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1181},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>btnUpU-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1120},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>btnWin-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,687},{222,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,85}}</string>
                <key>sourceSize</key>
                <string>{222,85}</string>
            </dict>
            <key>btnWindown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,948},{221,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>btnZone-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1210},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>btnZonedown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1204},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>buildButton01-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1118},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildButton01down-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildButton02-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1120},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildButton02down-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1090},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildButton03-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1090},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildButton03down-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1004},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildButton04-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1004},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildButton04down-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,540},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>buildProgressBG-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,64},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>enemyPoint-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1011},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>go_black-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1203},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>go_normal-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1118},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>go_normaldown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1118},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>goldTip-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,50},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>healthTip-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,575},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>lifeProgressBG-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,290},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>lostBg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{518,474}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{518,474}}</string>
                <key>sourceSize</key>
                <string>{518,476}</string>
            </dict>
            <key>number-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,64},{198,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,22}}</string>
                <key>sourceSize</key>
                <string>{198,22}</string>
            </dict>
            <key>pauseBg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,88},{396,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,478}}</string>
                <key>sourceSize</key>
                <string>{396,478}</string>
            </dict>
            <key>pause_black-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,936},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>pause_blackdown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,861},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>pause_normal-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,612},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>showProgress-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,88},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>shuZhiBg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{355,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,70}}</string>
                <key>sourceSize</key>
                <string>{355,70}</string>
            </dict>
            <key>shuZhiBgDuan-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{237,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,70}</string>
            </dict>
            <key>skillbar-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{288,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,80}}</string>
                <key>sourceSize</key>
                <string>{288,80}</string>
            </dict>
            <key>spSel-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,763},{91,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,44}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>wave-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,607},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>wavesTip-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,607},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>winBg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,486},{516,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,474}}</string>
                <key>sourceSize</key>
                <string>{516,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>others.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5788eb89084fc9ba9ae9f75652526601$</string>
            <key>textureFileName</key>
            <string>others.png</string>
        </dict>
    </dict>
</plist>
