<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1454},{248,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,75}}</string>
                <key>sourceSize</key>
                <string>{248,75}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1704},{248,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,75}}</string>
                <key>sourceSize</key>
                <string>{248,75}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1454},{248,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,75}}</string>
                <key>sourceSize</key>
                <string>{248,75}</string>
            </dict>
            <key>btnArchievement-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{280,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,82}}</string>
                <key>sourceSize</key>
                <string>{280,82}</string>
            </dict>
            <key>btnArchievementdown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1454},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
            <key>btnCredit-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1370},{219,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,82}}</string>
                <key>sourceSize</key>
                <string>{219,82}</string>
            </dict>
            <key>btnCreditdown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1704},{209,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,78}}</string>
                <key>sourceSize</key>
                <string>{209,78}</string>
            </dict>
            <key>btnHelp-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1286},{219,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,82}}</string>
                <key>sourceSize</key>
                <string>{219,82}</string>
            </dict>
            <key>btnHelpdown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1954},{209,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,78}}</string>
                <key>sourceSize</key>
                <string>{209,78}</string>
            </dict>
            <key>btnPlay-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1736},{265,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,100}}</string>
                <key>sourceSize</key>
                <string>{265,100}</string>
            </dict>
            <key>btnPlaydown-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1720},{252,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,95}}</string>
                <key>sourceSize</key>
                <string>{252,95}</string>
            </dict>
            <key>loadingBg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>logo-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{781,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{781,155}}</string>
                <key>sourceSize</key>
                <string>{781,155}</string>
            </dict>
            <key>mainMenuBg-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WelcLoadScene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfb9e007da86fd01788a1f807efad3a6$</string>
            <key>textureFileName</key>
            <string>WelcLoadScene.png</string>
        </dict>
    </dict>
</plist>
