<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atBuilding-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,481},{87,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>dtBuilding-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,534},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>dtpo-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,534},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>et01-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,324},{114,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,93}}</string>
                <key>sourceSize</key>
                <string>{114,93}</string>
            </dict>
            <key>et02-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,404},{114,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,88}}</string>
                <key>sourceSize</key>
                <string>{114,88}</string>
            </dict>
            <key>et03-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>mtBuilding-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,494},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>stBuilding-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,440},{87,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>stat0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,530},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>stat0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,493},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>stat0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,404},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>stat0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>stat0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,194},{93,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,128}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>stat0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{81,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,112}}</string>
                <key>sourceSize</key>
                <string>{81,112}</string>
            </dict>
            <key>stat0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,119},{73,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,95}}</string>
                <key>sourceSize</key>
                <string>{73,95}</string>
            </dict>
            <key>stat0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,404},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>stat0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,470},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>stat0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,440},{12,15}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>tdRange-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>others.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3188dd43f06097db77fc2f0642842bae$</string>
            <key>textureFileName</key>
            <string>others.png</string>
        </dict>
    </dict>
</plist>
