<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_icon_info_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,46},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>atk_demage.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,56},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>atk_range.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>defense_icon_info_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>health_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,22},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>info_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,94},{180,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>info_right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{290,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>magic_demage.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,39},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>magic_icon_info_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>reload_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,68},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>shell_icon_info_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>towerinfobar.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81138e81ede0f0495590b4ad58534490$</string>
            <key>textureFileName</key>
            <string>towerinfobar.png</string>
        </dict>
    </dict>
</plist>
